<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutCoverageMetadata="true">
    <testsuites>
        <testsuite name="Application and Domain Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true" />
            <text outputFile="var/phpunit/coverage.txt" showUncoveredFiles="false" showOnlySummary="true" />
        </report>
    </coverage>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Application/Action</directory>
            <directory>src/Infrastructure</directory>
        </exclude>
    </source>

    <logging>
        <junit outputFile="var/phpunit/junit.xml" />
    </logging>
</phpunit>
